// Colors
$color-primary: #a11e1e;
$color-primary-light: #ff5656;
$color-primary-dark: #720707;

$color-secondary: #534b52;
$color-secondary-light: #786d77;

$color-tertiary: #1c1d21;
$color-tertiary-light: #3d3f47;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;
