@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

#header {
  position: relative;
  min-height: 400px;
  height: 43vw;
  width: 100%;
}

#video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-top: 10%;
  z-index: 100;
  backface-visibility: hidden;
}

#profile-picture {
  animation: dropDown 1s ease-out;
}

#video-heading {
  margin-top: 30px;
  letter-spacing: 8px;
  text-shadow: 2px 2px rgba(66, 65, 65, 0.507);
}

#resume-button {
  margin-top: 40px;
  text-align: center;
}

#scroll-arrow {
  margin-top: 10px;
  text-align: center;
  text-shadow: 2px 2px rgba(66, 65, 65, 0.507);
  animation: scrollDown 2s ease-in-out alternate infinite;
}

#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -100;
}
