@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

#header {
  position: relative;
  min-height: 400px;
  height: 630px;
  width: 100%;
}

#video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  backface-visibility: hidden;
}

#profile-picture {
  margin-top: 10%;
  animation: dropDown 1s ease-out;
}

#video-heading {
  margin-top: 30px;
  letter-spacing: 8px;
  text-shadow: 2px 2px rgba(66, 65, 65, 0.507);
}

#resume-button {
  margin-top: 40px;
  text-align: center;
}

#scroll-arrow {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px rgba(66, 65, 65, 0.507);
  animation: scrollDown 2s ease-in-out alternate infinite;
}

#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  overflow: hidden;
  z-index: -100;
}

@media only screen and (max-width: 1200px) {
  #header {
    height: 400px;
  }

  #video-overlay {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15% 5%;
  }

  #profile-picture {
    flex-grow: 1;
    margin: 0;
  }

  #video-heading {
    flex-grow: 1;
    margin: 0;
  }

  #video-heading h1 {
    margin: 0;
  }

  #name {
    font-size: 24px;
  }

  #title {
    font-size: 20px;
  }

  #resume-button a {
    margin: 0;
  }
  #scroll-arrow {
    visibility: hidden;
    width: 0;
  }
}

@media only screen and (max-width: 600px) {
  #header {
    min-height: 330px;
    height: 330px;
  }

  #video-overlay {
    padding: 10% 5%;
  }

  #profile-picture {
    transform: scale(0.75);
  }

  #name {
    font-size: 24px;
  }

  #title {
    font-size: 20px;
  }

  #resume-button {
    transform: scale(0.75);
  }
}

@media only screen and (max-width: 550px) {
  #profile-picture {
    transform: scale(0.60);
  }

  #video-heading {
    margin: 30px 20px 0 0;
    letter-spacing: 3px;
  }

  #video-heading h1 {
    line-height: normal;
    font-size: 16px;
  }

  #resume-button {
    margin: 0;
    transform: scale(0.6);
  }

  #resume-button a {
    margin: 0;
  }

  #scroll-arrow {
    visibility: hidden;
  }
}

@media only screen and (max-width: 450px) {
  #video-overlay {
    padding: 0;
  }

  #header {
    min-height: 160px;
    height: 160px;
  }

  #profile-picture {
    display: block;
    float: left;
    transform: scale(0.60);
    margin: 0;
  }

  #video-heading {
    display: block;
    margin: 5% 0 0 0;
    letter-spacing: 3px;
  }

  #video-heading h1 {
    line-height: normal;
  }

  #video-heading div {
    margin: 0;
  }

  #name {
    font-size: 12px;
    line-height: normal;
    letter-spacing: 1px;
  }

  #title {
    font-size: 10px;
    line-height: normal;
    letter-spacing: 1px;
  }

  #resume-button {
    font-size: 10px;
    margin: 0;
    transform: scale(0.6);
  }

  #resume-button a {
    margin: 0;
  }

  #scroll-arrow {
    visibility: hidden;
  }
}
