* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

#intro {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  padding: 20px 100px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #intro {
    margin: 0;
  }
}

@media only screen and (max-width: 320px) {
  #intro {
    margin: 0;
    padding: 0 30px;
    font-size: 12px;
  }
}
