#card-group {
  padding: 0 100px;
}

@media only screen and (max-width: 767px) {
  #card-group {
    padding: 14px 100px;
  }
}

@media only screen and (max-width: 320px) {
  #card-group {
    padding: 5px;
  }
}
