#card-group {
  padding: 0 100px;
}

@media only screen and (max-width: 1200px) {
  #card-group {
    padding: 20px 40px;
  }
}

@media only screen and (max-width: 320px) {
  #card-group {
    padding: 5px;
  }
}
