.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: -100;

  &__content {
    height: auto;
    width: auto;
    object-fit: cover;
  }
}
