.header {
  position: relative;
  height: 95vh;

  &__text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &__picture {
    border-radius: 50rem;
  }

  &__scroll-arrow {
    text-shadow: 0.2rem 0.2rem rgba(66, 65, 65, 0.507);
    animation: scrollDown 2s ease-in-out alternate infinite;
    font-size: 10rem;

    @media print, screen and (max-width: 1200px) {
      font-size: 5rem;
    }
  }
}
